/*
D8F3DC
B7E4C7
95D5B2
74C69D
52B788
40916C
2D6A4F
1B4332
081C15

222831
393e46
00adb5
00fff5
*/
*::selection{
    color: greenyellow;
    background-color: transparent;
}
body{
    width: 100vm;
    height: 100vh;
    background-color: #222831 !important;
}

.btn-standard
{
    background-color: #74C69D; !important;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 30px;
}

.page-title{
    margin: 100px auto 100px auto;
    text-align: center;
    font-size: 7em;
    color: #B7E4C7 !important;
}
.page-title-sub{
    margin: 50px auto 50px auto;
    text-align: center;
    font-size: 4em;
    color: #B7E4C7 !important;
}

input.form-control{
    background-color: #D8F3DC;
    color: black;
}
input.form-control:focus{
    background-color: #D8F3DC;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.menu-brand{
    color: #B7E4C7;
    margin-left: 10px;
    font-size: 26px;
}


.pfp-profile-page{
    height: 150px;
    width: 150px;
    border: #D8F3DC 3px solid;
    border-radius: 30%;
}
.profile-page
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
}
#profile-name
{
    color: #74C69D;
    font-size: 60px;
    margin: 50px auto 30px auto;
}
#profile-email
{
    text-decoration: none;
    color: #74C69D;
}
a{
    color: #74C69D !important;
}
.tag-box{
    margin: 30px auto 30px auto;
    text-align: center;
    overflow: hidden;
}
.tags-list{
    list-style-type: none;
    margin: 30px 5px 20px 5px;
    display: inline;
}
.tags-text{
    background-color: #74C69D;
    padding: 5px;
    border-radius: 15%;
    color: black;
    font-size: 12px;
    display: inline;
}